@media print {
  body * {
    visibility: hidden;
  }
  #printable-resume, #printable-resume * {
    visibility: visible;
  }
  #printable-resume {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    border: none;
    box-shadow: none;
  }
  @page {
    size: A4;
    margin: 20mm;
  }
}
