
@media print {
  body * {
    visibility: hidden;
  }
  #printable-resume, #printable-resume * {
    visibility: visible;
  }
  #printable-resume {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    border: none;
    box-shadow: none;
  }
  @page {
    size: A4;
    margin: 0;
  }

  /* Page break control */
  h1, h2, h3, h4, h5, h6, p, ul, li {
    page-break-inside: avoid;
  }
}

.force-light {
    --background: 210 40% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 210 40% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 210 40% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 285 99% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 94.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --border: 210 40% 90%;
    --input: 210 40% 92%;
    background-color: hsl(var(--card)) !important;
    color: hsl(var(--card-foreground)) !important;
}

.force-light .prose {
    --tw-prose-body: hsl(var(--card-foreground));
    --tw-prose-headings: hsl(var(--card-foreground));
    --tw-prose-lead: hsl(var(--muted-foreground));
    --tw-prose-links: hsl(var(--primary));
    --tw-prose-bold: hsl(var(--card-foreground));
    --tw-prose-counters: hsl(var(--muted-foreground));
    --tw-prose-bullets: hsl(var(--muted-foreground));
    --tw-prose-hr: hsl(var(--border));
    --tw-prose-quotes: hsl(var(--card-foreground));
    --tw-prose-quote-borders: hsl(var(--border));
    --tw-prose-captions: hsl(var(--muted-foreground));
    --tw-prose-code: hsl(var(--card-foreground));
    --tw-prose-pre-code: hsl(var(--card-foreground));
    --tw-prose-pre-bg: hsl(var(--muted));
    --tw-prose-th-borders: hsl(var(--border));
    --tw-prose-td-borders: hsl(var(--border));
}
